name: O2MConverter
channels:
  - conda-forge
  - https://conda.anaconda.org/conda-forge/
  - defaults
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - pip:
    - admesh==0.98.9
    - cython<3.0
    - matplotlib
    - scipy
    - torch
    - PyYaml
    - configargparse
    - numpy
    - gym
    - pandas
    - pyquaternion
    - scikit-video
